body {
    background-color: #F0F8FF;
    font-family: sans-serif;
}
h1 {
    color: #008080;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

p {
    color: #008080;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

.cambio {
    background-color: #F0F8FF;
    color: #008080;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

.cambio:hover {
    background-color: #008080;
    color: #F0F8FF;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}